<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProfile name="prod">
    <appender name="CLOUDWATCH" class="ca.pjer.logback.AwsLogsAppender">
      <accessKey>${AWS.ACCESS.KEY}</accessKey>
      <secretKey>${AWS.SECRET.KEY}</secretKey>
      <region>ap-northeast-2</region>
      <logGroupName>${AWS.LOG.GROUP.NAME}</logGroupName>
      <logStreamName>${AWS.LOG.STREAM.NAME}</logStreamName>
      <maxBatchSize>10000</maxBatchSize>
      <maxBatchTimeMs>1000</maxBatchTimeMs>
      <encoding>UTF-8</encoding>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
      </layout>
    </appender>

    <root level="ERROR">
      <appender-ref ref="CLOUDWATCH"/>
    </root>
  </springProfile>

  <!-- 로컬 환경 로그 설정 -->
  <springProfile name="local">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n</pattern>
      </encoder>
    </appender>

    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

</configuration>